extends layout

block content
  form(name="exams_section4" method='POST')
    section.bg__exams
      .container.py-3.min-vh-100
        if exams
          .middle__center__md.question__wrapper.mx-auto
            h3.text-white.font-weight-bold #{title}
              input.d-none(name='lanThi' value=infoUser.lanThi.luotThi)
              input.d-none(name='user' value=infoUser._id)
              input.d-none(name='exam' value=exams.code)
              input.d-none#submit_time_summary(name='time' value='0')
            .question__scroll.card.p-3.px-sm-4.pt-sm-4.pb-sm-3.px-md-5.pt-md-3.pb-md-4
              .row
                h4.col-12.text-center#timer 0
                .col-6
                  h4.text-center Questions
                  -for(var item of exams.questions)
                    -var index = exams.questions.indexOf(item)
                    .my-3
                      p.mb-2 Question #{index + 1}: #{item.question}
                      input.d-none(name=`answers[${index}][code]` value=item.code)
                      .px-3.py-2.border.rounded
                        p.mb-0 Anwser:
                        .dragula-container.left(class=`left${index}` style='min-height: 42px')
                          input.d-none.anwser(name=`answers[${index}][answer]`)
                .col-6
                  h4.text-center Anwsers
                  .dragula-container.right.px-3.py-3.border.rounded
                    -for(var item of randomAnwser)
                      .user-select-none(data-anwser=item.true).px-3.py-2.my-2.border.rounded #{item.a}
              .text-center
                button.btn.btn-primary#submitSection4 Chấm điểm