extends layout

block content
  .container.py-3.min-vh-100
    .middle__center__md.question__wrapper.mx-auto
      h3 P1: Ngược dòng thời gian
      form.card.p-3.px-sm-4.pt-sm-4.pb-sm-3.px-md-5.pt-md-5.pb-md-4
        if exams
          input(name='exam' value=exams._id)
          input(name='user' value=user._id)
          input#submit_time_summary(name='time' value='0')
          -for(var i of exams.questions)
            .tabs(id=`${i.stt}` style='display: none')
              h4.question__question.font-weight-bold #{i.question}
              .question__answer
                .custom-control.custom-radio.mt-2
                  input.custom-control-input(id=`${i.stt}-a` type='radio' name=i.stt value='a')
                  label.custom-control-label.h5(for=`${i.stt}-a`) #{i.a}
                .custom-control.custom-radio.mt-2
                  input.custom-control-input(id=`${i.stt}-b` type='radio' name=i.stt value='b')
                  label.custom-control-label.h5(for=`${i.stt}-b`) #{i.b}
                .custom-control.custom-radio.mt-2
                  input.custom-control-input(id=`${i.stt}-c` type='radio' name=i.stt value='c')
                  label.custom-control-label.h5(for=`${i.stt}-c`) #{i.c}
                .custom-control.custom-radio.mt-2
                  input.custom-control-input(id=`${i.stt}-d` type='radio' name=i.stt value='d')
                  label.custom-control-label.h5(for=`${i.stt}-d`) #{i.d}
          .text-center
            button(type='button').btn.btn-primary.question__submit.px-5.mt-4#time_action_next Tiếp theo
            button(type='submit').d-none.btn.btn-primary.question__submit.px-5.mt-4#time_action_submit Nộp bài
          .mt-3
            .d-flex.align-items-center.justify-content-between
              .question__time__sum
                span(style='font-size: inherit').material-icons.mr-1 alarm
                span#time_summary 0
              .h5.m-0.question__time
                span#time_countdown 20
              div
                span#current_question 1
                span &nbsp; / #{exams.questions.length}

block scripts
  script(src='/javascripts/section-1.js')