extends layout

block content
  form(method='POST')
    .container-fluid.p-4.min-vh-100
      .row
        .col-12
          h3.font-weight-bold Phần 2: Giải mã lịch sử
        .col-auto
          .section2__left__container
            .card.section2__question__wrapper
              .section2__question__card.grid-container
                //- -for(var i=1; i <= 8; i++)
                  .section2__question__card__item.default(data-item=`${i}` class=`section2__${i}` data-value='a') #{i}
                .section2__question__card__item(data-item='1' class=`section2__1` data-value='a') 1
                .section2__question__card__item(data-item='2' class=`section2__2` data-value='b') 2
                .section2__question__card__item(data-item='3' class=`section2__3` data-value='c') 3
                .section2__question__card__item(data-item='4' class=`section2__4` data-value='d') 4
                .section2__question__card__item(data-item='5' class=`section2__5` data-value='a') 5
                .section2__question__card__item(data-item='6' class=`section2__6` data-value='b') 6
                .section2__question__card__item(data-item='7' class=`section2__7` data-value='c') 7
                .section2__question__card__item(data-item='8' class=`section2__8` data-value='d') 8
            .d-flex.align-items-center.mt-3
              button(type='button' data-value='c').btn.btn-primary.section2__question__background.px-5 Trả lời câu hỏi hình nền
              .ml-auto
                span Tổng thời gian:  
                span.font-weight-bold#section2__summaryTimer 0
        .col
          .section2__backdrop.mt-5.d-none
            h4 Phần tiếp theo sẽ bắt đầu sau
            h2.font-weight-bold#section2__countdownGoToNextPage 10
          .section2__question__list.d-none
            -for(var i = 1; i <= 9; i++)
              .section2__question__item.d-none(data-item=`${i}`)
                h4.question__question.font-weight-bold Question #{i}: Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, dignissimos?
                .question__answer
                  .custom-control.custom-radio.mt-2
                    input.custom-control-input(id=`section2__answer${i}__a` type='radio' name=`section2__answer${i}` value='a')
                    label.custom-control-label.h5(for=`section2__answer${i}__a`) anwser a
                  .custom-control.custom-radio.mt-2
                    input.custom-control-input(id=`section2__answer${i}__b` type='radio' name=`section2__answer${i}` value='b')
                    label.custom-control-label.h5(for=`section2__answer${i}__b`) anwser b
                  .custom-control.custom-radio.mt-2
                    input.custom-control-input(id=`section2__answer${i}__c` type='radio' name=`section2__answer${i}` value='c')
                    label.custom-control-label.h5(for=`section2__answer${i}__c`) anwser c
                  .custom-control.custom-radio.mt-2
                    input.custom-control-input(id=`section2__answer${i}__d` type='radio' name=`section2__answer${i}` value='d')
                    label.custom-control-label.h5(for=`section2__answer${i}__d`) anwser d
            .d-flex.align-items-center.mt-5.pr-5
              button(type='button').btn.btn-primary.section2__question__check__result.px-5 OK
              .ml-auto
                span Thời gian còn lại:  
                span.font-weight-bold#section2__questionPendingTimer 20