extends layout-admin.pug

block var
  -var currentURL = '/questions/section-1'
  -var title = 'Phần 1 - Danh sách câu hỏi'

block content
  h5.font-weight-bold(style='color: #3d5170; padding-left: 15px') Phần 1 ➡ Câu hỏi
  .row.m-0
    .col-12.p-0.px-lg-3
      .card.p-3.px-md-5.py-md-4
        .text-right.mb-2
          a.small(href='/questions/section-1/create') Thêm câu hỏi mới
        table#table_section1_list.table.table-bordered
          thead.bg-light
            tr
              th.text-center.align-middle(scope='col')
                | #
              th.align-middle(scope='col')
                | Câu hỏi
              th.align-middle(scope='col') Trả lời
          tbody
            if deThi !== null
              -for(let cauHoi of deThi.questions)
                tr
                  td(style='width: 70px').text-center
                    .mb-2 #{cauHoi.code}
                    a(class="material-icons" style="font-size: 16px;" href=`/questions/section-1/edit/${cauHoi._id}`) create
                  td(style='width: 40%') #{cauHoi.question}
                  td
                    .mb-2(class={'text-success font-weight-bold': cauHoi.true === 'a'}) A. #{cauHoi.a}
                    .mb-2(class={'text-success font-weight-bold': cauHoi.true === 'b'}) B. #{cauHoi.b}
                    .mb-2(class={'text-success font-weight-bold': cauHoi.true === 'c'}) C. #{cauHoi.c}
                    .mb-2(class={'text-success font-weight-bold': cauHoi.true === 'd'}) D. #{cauHoi.d}
