extends layout-admin.pug

block var
  -var currentURL = '/questions/section-2-hinh-nen'
  -var title = 'Phần 2 - Hình nền - Danh sách câu hỏi'

block content
  h5.font-weight-bold(style='color: #3d5170; padding-left: 15px') Phần 2 - Hình nền ➡ Câu hỏi
  .row.m-0
    .col-12.p-0.px-lg-3
      .card.p-3.px-md-5.py-md-4
        //- .text-right.mb-2
          a.small(href='/questions/section-2-hinh-nen/create') Thêm câu hỏi mới
        table#table_section2_hinhnen_list.table.table-bordered
          thead.bg-light
            tr
              th
              th.align-middle(scope='col') Hình ảnh
              th.align-middle(scope='col') Câu hỏi
              th.align-middle(scope='col') Trả lời
          tbody
            if deThi !== null
              -for(let cauHoi of deThi.questions)
                tr
                  td(style="width: 5%").text-center
                    a(class="material-icons" style="font-size: 16px;" href=`/questions/section-2-hinh-nen/edit/${cauHoi._id}`) create
                  td(style="width: 200px")
                    img(style="width: 200px" src=`${cauHoi.image}` alt=`${cauHoi.image}`)
                  td #{cauHoi.question}
                  td
                    .mb-2(class={'text-success font-weight-bold': cauHoi.true === 'a'}) A. #{cauHoi.a}
                    .mb-2(class={'text-success font-weight-bold': cauHoi.true === 'b'}) B. #{cauHoi.b}
                    .mb-2(class={'text-success font-weight-bold': cauHoi.true === 'c'}) C. #{cauHoi.c}
                    .mb-2(class={'text-success font-weight-bold': cauHoi.true === 'd'}) D. #{cauHoi.d}