extends layout-admin.pug

block scripts
  script(src='/javascripts/admin-table-users.js')
block content
  .row.m-0
    .col-12.p-0.px-lg-3
      .card.p-3.p-md-5
        h6 Xếp hạng
        table#table_users.table.table-bordered
          thead.bg-light
            tr
              th.border-0(scope='col')
              th.text-center.align-middle.border-0(scope='col')
                | #
              th.align-middle.border-0(scope='col')
                | Họ tên
              th.align-middle.border-0(scope='col')
                | Điểm
              th.align-middle.border-0(scope='col')
                | Thời gian
          tbody
            -for(var i = 1; i < 10; i++)
              tr
                td
                td.text-center 1
                td Nguyễn Thành Lộc
                td #{i*40}
                td #{i*20}s
              tr
                td
                td.text-center 2
                td Nguyễn Lộc Thành
                td #{i*38}
                td #{i*19}s
              tr
                td
                td.text-center 3
                td Lorem ipsum dolor sit.
                td #{i*36}
                td #{i*18}s
              tr
                td
                td.text-center 4
                td Lorem, ipsum.
                td #{i*34}
                td #{i*17}s